<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary float-right" routerLink="/product/create" type="button">Create</button>
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Currency</th>
                            <th>Quantity</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.currencyUnit}}</td>
                            <td>{{product.quantity}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" [routerLink]="['/product/edit']" routerLinkActive="router-link-active" >Edit</button>
                                <button class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                TODO pagination
            </div>
        </div>
    </div>
</div>